{{ define "books/index.html" }}
{{ template "base/header.html" . }}
<h1>My Books</h1>
<div>
    Page {{ .p.Page }} / {{ .p.Count }}
</div>
<ul class="books">
    {{ range .books }}
    <li class="book">
        <span class="title">{{ .Title }}</span>
        <span class="author">{{ .Author }}</span>
    </li>
    {{ end }}
</ul>
<div class="pages">
    Pages:
    {{ if ne .p.Prev 0 }}
    <a href="/books/?page={{ .p.Prev }}">&laquo;</a>
    {{ end }}

    {{ range .p.Pages }}
    {{ if eq . $.p.Page }}<strong>{{ . }}</strong>
    {{ else }}<a href="/books/?page={{ . }}">{{ . }}</a>
    {{ end }}
    {{ end }}

    {{ if ne .p.Next 0 }}
    <a href="/books/?page={{ .p.Next }}">&raquo;</a>
    {{ end }}
    </div>
{{ template "base/footer.html" . }}
{{ end }}
