{{ define "books/index.html" }}
{{ template "base/header.html" . }}
<h2>My Books</h2>

<div>
    Page {{ .page }} / {{ .pageCount }}
</div>

<ul class="books">
    {{ range .books }}
    <li class="book">
        <span class="title">{{ .Title }}</span>
        <span class="author">{{ .Author }}</span>
    </li>
    {{ end }}
</ul>

<div class="pages">
    Pages:
    {{ if .prevPage}}
    <a href="/books/?page={{ .prevPage }}">&laquo;</a>
    {{ end }}

    {{ range .pages }}
        {{ if eq . $.page}} <strong>{{ . }}</strong>
        {{ else }} <a href="/books/?page={{ . }}">{{ . }}</a>
        {{ end }}
    {{ end }}

    {{ if .nextPage}}
    <a href="/books/?page={{ .nextPage }}">&raquo;;</a>
    {{ end }}
</div>

{{ template "base/footer.html" . }}
{{ end }}
